.logoStyle {
    font-size: 100px;
    margin-bottom: 2rem;
}

.discordButton {
    background-color: #763ED0;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Rubik", Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 8px;
}

.tagline {
    font-family: "Rubik", Helvetica, sans-serif;
    margin-bottom: 2rem;
    color: #B3B3B3;
}

.sectionSpacer {
    height: 10vh;
}

.fadeInDown {
    --animate-duration: 6s;
}

.fadeIn {
    --animate-duration: 2s;
  }

@media (max-width: 650px) {
    .logoStyle {
        font-size: 50px;
    }
}

@media screen and (orientation: landscape) and (max-height: 650px) {
    .logoStyle {
        font-size: 80px;
    }
}